<section class="vehicle">
  <div class="vehicle__type">
    <img src="./assets/img/car-icon.svg" alt="car">
    <span>{{eventCard.vehicle.type}}</span>
  </div>
  <div class="vehicle__passengers">
    <img src="./assets/img/passengers.svg" alt="passengers">
    <span>4</span>
  </div>
  <div class="vehicle__gearbox">
    <img src="./assets/img/transmission.svg" alt="transmission">
    <span>{{eventCard.vehicle.gearbox}}</span>
  </div>
  <div class="vehicle__ac">
    <img src="./assets/img/show.svg" alt="ac">
  </div>
</section>
